<div class="uk-grid uk-margin-top">
  <div class='uk-width-medium-2-3' data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box" >
          <p>今日总收益</p>
          <h1><i class='uk-icon-cny'></i> <%= @income_sum.to_f %></h1>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box" >
          <p>总资产</p>
          <h1><i class='uk-icon-cny'></i> <%= Invest.total_amount(current_user) %></h1>
        </div>
      </div>
      <div class="uk-width-medium-1-1 uk-margin-top">
        <div class="uk-panel uk-panel-box" >
          <div id='income_pie'></div>
        </div>
      </div>
      <div class="uk-width-medium-1-1 uk-margin-top">
        <div class="uk-panel uk-panel-box" >
          <div id='pie'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
      <div class="uk-grid">
        <!-- This is the container of the content items -->
        <div class="uk-width-medium-2-3">
          <ul id="income_list" class="uk-switcher">
            <% Transaction.select(:product_id).distinct.where(user_id: current_user.id).each do |t| %>
              <li>
                <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                  <thead>
                    <tr>
                      <th>收益日期</th>
                      <th>收益额</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% current_user.incomes.where(product_id: t.product_id).order("earning_date desc").each do |income| %>
                      <tr>
                        <td><%= income.earning_date %></td>
                        <td><i class='uk-icon-cny'></i> <%= income.amount %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- This is the container of the toggling elements -->
        <div class="uk-width-medium-1-3">
          <ul class="uk-tab uk-tab-right" data-uk-switcher="{connect:'#income_list'}">
            <% Transaction.select(:product_id).distinct.where(user_id: current_user.id).each do |t| %>
              <li><a href="#"><%= Product.find(t.product_id).money_fund %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  $('#income_pie').highcharts({
    chart: {
      backgroundColor: '#fafafa',
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: '今日收益分配图'
    },
    tooltip: {
      pointFormat: '<p>{series.name}: <b>{point.percentage:.1f} %</b><p><br/><p>收益额: <b>{point.y}元</b></p>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '<b>{point.name}</b>: {point.percentage:.1f} %<br/><p><b>收益额</b>: {point.y}元</p>'
        }
      }
    },
    series: [{
      type: 'pie',
      name: '收益占比',
      data: <%= raw @all_income %>
    }]
  });


  $('#pie').highcharts({
    chart: {
      backgroundColor: '#fafafa',
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: '资产分配图'
    },
    tooltip: {
      pointFormat: '<p>{series.name}: <b>{point.percentage:.1f} %</b><p><br/><p>资产额: <b>{point.y}元</b></p>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '<b>{point.name}</b>: {point.percentage:.1f} %<br/><p><b>资产额</b>: {point.y}元</p>'
        }
      }
    },
    series: [{
      type: 'pie',
      name: '资产占比',
      data: <%= raw @all_money %>
    }]
  });
});
</script>