<nav class="uk-navbar uk-margin-bottom">
  <%= link_to 'RANKS', root_path, class: 'uk-navbar-brand' %>
  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">
      <% if signed_in? %>
        <li class="uk-parent" data-uk-dropdown>
          <a href="#">账户 <i class="uk-icon-caret-down"></i></a>
          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <% if current_user.admin? %>
                <li>
                  <%= link_to users_path do %>
                    <i class="uk-icon-users"></i>
                    用户管理
                  <% end %>
                </li>
                <li class="uk-nav-divider"></li>
              <% end %>
              <li>
                <%= link_to signout_path, method: "delete" do %>
                  <i class="uk-icon-sign-out"></i>
                  退出
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      <% else %>
        <li><%= link_to '注册', new_user_path %></li>
        <li><%= link_to '登录', new_session_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="uk-navbar-content uk-navbar-center">
    宝宝类理财收益记账助手
  </div>
</nav>
<div class="uk-clearfix">
  <div class='uk-float-left'>
    <ul class="uk-subnav uk-subnav-pill">
      <% if signed_in? %>
        <li class= "<%= 'uk-active' if params[:controller] == 'dashboard' %>">
          <%= link_to dashboard_index_path do %>
            <i class="uk-icon-dashboard"></i>
            Dashboard
          <% end %>
        </li>
      <% end %>
      <li class= "<%= 'uk-active' if params[:controller] == 'ranking' %>">
        <%= link_to root_path do %>
          <i class="uk-icon-bars"></i>
          收益排行
        <% end %>
      </li>
    </ul>
  </div>
  <% if params[:controller] == 'ranking' or params[:controller] == 'dashboard' %>
    <div class='uk-float-right'>
      <%= link_to '记一笔投资', new_transaction_path, class: 'uk-button uk-button-success uk-button-large' %>
    </div>
  <% end %>
</div>